## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 10
print(a)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
b = 8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
#print(a)
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre = "Mauricio Curiel"

5) Crear una variable que contenga un número complejo

In [5]:
d = 5 + 1j
d = complex(5, 1) #Dos maneras distintas de crear un número complejo
print(d)

(5+1j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(d))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
import math
print(round(math.pi, 4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
e = "True"
f = True #"True" es un string y True es un booleano
e == f

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [10]:
print(type(e))
print(type(f))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
g = 10 + 3.5
print(g)

13.5

11) Realizar una operación de suma de números complejos

In [12]:
h = 10 + 1j
i = 5 + 2j
print(h + i)

(15+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
j = 10
k = 5 + 2j
print(j + k)

(15+2j)

13) Realizar una operación de multiplicación

In [14]:
print(5 * 2)

10

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
print(2 ** 8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
l = 27 / 4
print(l)

6.75

16) De la división anterior solamente mostrar la parte entera

In [17]:
m = 27 // 4
print(m)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [18]:
n = 27 % 4
print(n)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [19]:
print(4 * m + n)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [20]:
ñ = "Hola "
o = "Mundo"
print(ñ + o)

Hola Mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [21]:
p = "2"
q = 2
print(type(p))
print(type(q)) #Una variable es cadena de texto y la otra es un entero
print(p == q)

<class 'str'>
<class 'int'>
False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [22]:
r = int(p)
print(type(r))
print(r == q)

<class 'int'>
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [23]:
a = float("3,8") #Arroja error ya que Python detecta los números decimales con punto y no con coma

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [24]:
r = 3
r -= 1
print(r)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [37]:
print(bin(1 << 2)) #Arroja este resultado ya que desplaza 2 bits a la izquierda y el número binario de 1 es 1
print(1 << 2) #Arroja este resultado ya que 0b100 en la numeración decimal es 4

0b100
4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [26]:
a = 2
b = "2"
print(a + b) #No se permite la suma entre string e interger. Suma de enteros sería 4 (sumar) y suma de string sería 22 (concatenar)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
a = 2
b = int(b)
print(a + b)

4

In [28]:
a = str(a)
b = str(b)
print(a + b)

22

26) Realizar una operación válida entre valores de tipo entero y string

In [29]:
x = "ja! "
print(x * 3)

ja! ja! ja!

In [30]:
frase = "Hola Mundo!"
val = 3
print(frase * 3)

Hola Mundo!Hola Mundo!Hola Mundo!

In [32]:
print(frase, (val), "veces") #Si se imprime con comas en lugar del signo de suma, arroja un espacio entre cadenas (palabras) y a su vez se pueden combinar int, etc. y str

Hola Mundo! 3 veces

In [34]:
frase_1 = frase + str(val) + "veces" #Concatenando, ausencia de espacios entre palabras se explica en la línea de arriba
print(frase_1)

Hola Mundo!3veces

In [39]:
frase_2 = f"{frase} {val} veces" #f-strings da formato a cadenas, combina distintos tipos de datos y a su vez ejecuta todo al momento de correr el código
print(frase_2)

Hola Mundo! 3 veces

In [36]:
frase_3 = "{} {} veces".format(frase, val) #Dar formato con .fomart
print(frase_3)

Hola Mundo! 3 veces